// Do not allow Foundation to control global html

// Global Colors
$white: #ffffff;
$black: #000000;
$rich-black: #0A0A0A;
$fos-blue: #468FED;
$light-grey: #F7F7F7;
$blue-grey: #7D8896;
$concrete-grey: #E3E4E5;
